body {
  cursor: url('/assets/light/arrow.cur'), default;
}

a,
[href] {
  cursor: url('/assets/light/hand.cur'), pointer;
}

/* 针对图注的样式 */
figure figcaption {
    text-align: center;
    color: #2980B9;
    font-size: 0.85em;
}

.note.custom {
  border-left: 4px solid #4285f4;
  background-color: #f8f9fa;
  padding: 15px;
  margin: 15px 0;
  border-radius: 4px;
}

[data-theme="dark"] .note.custom {
  background-color: #2d3746;
  border-left-color: #8ab4f8;
}

