body {
  cursor: url('/assets/light/arrow.cur'), default;
}

a,
[href] {
  cursor: url('/assets/light/hand.cur'), pointer;
}

/* 针对图注的样式 */
figure figcaption {
    text-align: center;
    color: #2980B9;
    font-size: 0.85em;
}