@font-face {
  font-family: "iconfont"; /* Project id 5032033 */
  src: url('//at.alicdn.com/t/c/font_5032033_79ln9fzu2sy.woff2?t=1758975318350') format('woff2'),
       url('//at.alicdn.com/t/c/font_5032033_79ln9fzu2sy.woff?t=1758975318350') format('woff'),
       url('//at.alicdn.com/t/c/font_5032033_79ln9fzu2sy.ttf?t=1758975318350') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-biji:before {
  content: "\e60d";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-wangzhan:before {
  content: "\e628";
}

.icon-fenlei:before {
  content: "\e616";
}

.icon-jilu:before {
  content: "\e636";
}

.icon-navicon-wzgl:before {
  content: "\e661";
}

.icon-tongji:before {
  content: "\e65b";
}

.icon-github:before {
  content: "\e732";
}

.icon-xuexi:before {
  content: "\e7f1";
}

.icon-shishi:before {
  content: "\e687";
}

.icon-biaoqian:before {
  content: "\e61b";
}

.icon-xindetihui:before {
  content: "\e641";
}

.icon-jihua:before {
  content: "\e611";
}

.icon-chengguo:before {
  content: "\e7af";
}

.icon-sousuobeifen2:before {
  content: "\e629";
}

.icon-shiyan:before {
  content: "\e643";
}

.icon-shouye:before {
  content: "\e600";
}

.icon-wenjianguidang:before {
  content: "\ea47";
}

.icon-zuzhikuangjia:before {
  content: "\e688";
}

.icon-jietisilu:before {
  content: "\e712";
}

.icon-weilaizhanwang:before {
  content: "\e635";
}

.icon-gonggao:before {
  content: "\e607";
}

.icon-bzhan-wode:before {
  content: "\e637";
}

